@import url("fonts.css");

:root {
  --primary-color: #453731;
  --black: #000;
	--light-grey-bg-color: #f3f3f3;
	--light-green-bg-color: #edfff5;
	--btn-green-color: #01cc61;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
	scrollbar-width: none;
}

body {
  color: var(--black);
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: none;
	-webkit-font-smoothing: antialiased;
	font-family: 'Avenir Medium';
}

body::-webkit-scrollbar {
	display: none;
}

ul.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

/*----------------
 	Utilites
----------------*/

.primary-color {
	color: var(--primary-color);
}

.font-medium {
	line-height: 110%;
	font-family: 'Avenir Medium';
}

.font-heavy-oblique {
	font-family: 'Avenir Heavy Oblique';
}

.font-heavy {
	font-family: 'Avenir Heavy';
}

.underline {
	text-decoration: underline;
}

.img-responsive {
	width: 90%;
	height: auto;
	margin: auto; 
}

.italic {
	font-style: oblique;
}

.debug {
	border: 2px solid black;
}

/*----------------
 	Header
----------------*/

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 55px 0 45px 0;
	width: 100%;
}

header img {
  margin: auto;
}

/*----------------
 	General Section
----------------*/

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	text-align: center;
}

button.btn {
	border-radius: 4px;
	background-color: var(--btn-green-color);
	text-transform: uppercase;
	color: white;
	font-family: 'Avenir Heavy';
}

button.btn:hover {
	background: linear-gradient(180deg, rgba(1,204,97,1) 0%, rgba(11,190,96,1) 49%, rgba(12,171,87,1) 100%);
}

/*----------------
 	Section Intro
----------------*/

.section-intro {
	background-color: white;
	color: var(--primary-color);
}

@media screen and (min-width: 1200px) {
  .section-intro {
    background-image: url(../img/josie-bg-rmkt.png);
		background-size: cover;
		background-position-x: center;
		background-position-y: center;
		color: var(--primary-color);
  }
}

.section-intro h1 {
	max-width: 988px;
	line-height: 115%;
	font-family: 'Avenir Heavy';
	font-size: 38px;
}

.section-intro hr {
	margin: 30px 0;
	border: 0;
	border-bottom: 1px solid var(--black);
	width: 100%;
	max-width: 320px;
}

.section-intro h2 {
	margin-bottom: 30px;
	max-width: 320px;
	font-family: 'Avenir Medium';
	font-size: 25px;
}

.section-intro > .arrow-container {
	margin-bottom: 20px;
}

.section-intro .arrow-container img {
	float: left;
	margin-top: 5px;
}

.section-intro .arrow-container p {
	margin-left: 20px;
	line-height: 130%;
	font-family: 'Avenir Roman';
	font-size: 16px;
}

.section-intro > .video-container {
	position: relative;
	margin-top: 20px;
  margin-bottom: 40px;
	width: 830px;
	height: 445px;
  overflow: hidden;
}

@media screen and (max-width: 780px) {
  .section-intro > .video-container {
    width: 650px;
    height: 360px;
  }
}

.section-intro .video-container iframe {
	position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-intro button {
	margin-top: 10px;
	margin-bottom: 25px;
	padding: 23px 36px;
	font-size: 18px;
}

.section-intro .payment-forms {
	margin: auto;
}

.section-intro .grid {
	margin-top: 35px;
	margin-bottom: 60px;
}

.section-intro .grid li {
	padding: 0 10px;
}

.section-intro .grid li img {
	margin: auto;
	height: 29px;
}

.section-intro .grid li h4 {
	margin-top: 7px;
	color: var(--black);
	font-family: 'Avenir Heavy';
  font-size: 13px;
}

/*----------------
 	Section One
----------------*/

.section-one {
	color: var(--black);
	padding: 45px 0;
}

.section-one h1 {
	margin: 50px 0 48px 0;
	max-width: 760px;
	font-size: 39px;
}

.section-one .depoimentos-dm {
	content: url(../img/depoimento_coders.png);
	max-width: 95%
}

.section-one .depoimentos-dm2 {
	content: url(../img/depoimento_coders2.png);
	max-width: 95%
}

.section-one .depoimentos-dm3 {
	content: url(../img/depoimento_coders3.png);
	max-width: 95%
}

/*----------------
 	Section Two
----------------*/

.section-two {
	color: var(--black);
	padding: 45px 0;
}

.section-two h1 {
	margin: 50px 0 48px 0;
	max-width: 760px;
	font-size: 42px;
}

.section-two h2 {
	margin-top: 50px;
	margin-bottom: 45px;
	max-width: 610px;
	font-size: 26px;
}

.section-two .first-dm {
	content: url(../img/dm01.png);
}

.section-two .second-dm {
	content: url(../img/dm02.png);
}

/*----------------
 	Section Three
----------------*/

.section-three {
	padding: 50px 190px 0 190px;
}

.section-three .text-container {
	border-left: 1px solid var(--black);
}

.section-three .text-container p {
	padding-left: 22px;
	text-align: left;
	font-size: 20px;
}

.section-three .text-container p:first-child {
	padding-top: 10px;
}

.section-three .text-container p:last-child {
	padding-bottom: 10px;
}

.section-three .img-responsive {
	margin-left: auto;
	max-width: 444px;
	max-height: 354px;
}

.section-three .grey-box {
	margin: 60px 0 30px 0;
	border: 1px solid var(--black);
	border-radius: 30px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	background-color: var(--light-grey-bg-color);
	padding: 60px 0 50px 0;
	width: 100%;
}

.section-three .grey-box > p {
	font-size: 24px;
}

.section-three .grey-box > p:first-child {
	max-width: 620px;
}

.section-three .grey-box > p:last-child {
	max-width: 500px;
}

@media screen and (max-width: 780px) {
	.section-two h1 {
		max-width: 650px;
		font-size: 36px;
	}

	.section-one .depoimentos-dm {
    content: url(../img/depoimento_coders-mobile.png);
  }

	.section-one .depoimentos-dm2 {
    display: none;
  }

  .section-one .depoimentos-dm3 {
    display: none;
  }

	.section-two .first-dm {
    content: url(../img/dm01-mobile.png);
  }

  .section-two .second-dm {
    content: url(../img/dm02-mobile.png);
  }

  .section-three {
		padding: 50px 0 0 0;
  }

	.section-three .grey-box {
		border-right: none;
		border-left: none;
		border-radius: 0;
		box-shadow: none;
	}
}

.section-three .grey-box > * {
	margin: 0 auto;
}

.section-three .grey-box h1 {
	margin-top: 45px;
	margin-bottom: 45px;;
	max-width: 699px;
	font-size: 38px;
}

.section-three .grey-box .arrow-container {
	margin-bottom: 30px;
	max-width: 704px;
}

.section-three .grey-box .arrow-container img {
	float: left;
	margin-top: 8px;
}

.section-three .grey-box .arrow-container p {
	margin-left: 32px;
	text-align: left;
	font-size: 24px;
}

/*----------------
 	Section Four
----------------*/

.section-neuro-levels {
	padding: 40px 0 85px 0;
}

.section-neuro-levels p:nth-child(-n + 3) {
	max-width: 670px;
	font-size: 24px;
}

.section-neuro-levels p.small {
	font-size: 20px;
	margin-top: 20px;
	max-width: 565px;
}

.section-neuro-levels p:last-child {
	margin-top: 40px;
	max-width: 650px;
	font-size: 28px;
}

.section-neuro-levels .img-responsive {
	content: url(../img/logica_metodo_Rmkt1.png);
	width: 1060px;
	margin: 60px 0 55px 0;
}

/*----------------
 	Section Five
----------------*/

.section-brown {
	background-color: var(--primary-color);
	padding-top: 30px;
	height: 590px;
}

.section-brown hr {
	margin-top: 45px;
	margin-bottom: 5px;
	border: 0.5px solid white;
	width: 42px;
}

.section-brown p {
	margin-top: 30px;
	line-height: 110%;
	color: white;
	font-family: 'Avenir Medium';
	font-size: 20px;
}

.section-brown p:last-child {
	font-size: 22px;
}

.section-brown button {
	margin-top: 66px;
	padding: 20px 45px;
	font-size: 18px;
}

/*----------------
 	Section Six
----------------*/

.section-six {
	background-color: var(--primary-color);
	padding-top: 30px;
	height: 570px;
}

@media screen and (min-width: 1200px) {
  .section-six {
		height: 710px;
	}
}

.section-six {
	padding-bottom: 100px;
}

.section-six h1 {
	margin: 50px 0 50px 0;
	max-width: 610px;
	font-size: 32px;
	color: white;
}

.section-six .img-responsive {
	content: url(../img/more-dms.png);
	width: 1127px;
}

.section-six button {
	margin-top: 66px;
	margin-bottom: 25px;
	padding: 20px 45px;
	font-size: 18px;
}

/*----------------
 	Section Knowledges
----------------*/

.section-knowledges {
	padding: 80px 0;
	font-family: 'Avenir Medium';
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
	background: linear-gradient(180deg, white 0%, #F3F3F3 100%); 
}

.section-knowledges .h1-container {
	display: flex;
	flex-direction: column;
	margin: 30px 0;
	max-width: 800px;
}

.section-knowledges .h1-container h1 {
	margin: -5px 0;
	font-family: 'Avenir Heavy Oblique';
	font-size: 46px;
}

.section-knowledges .h1-container h1:nth-child(2) {
	font-family: 'Avenir Medium';
	font-style: normal;
}

.section-knowledges .p1 {
	font-size: 22px;
}

.section-knowledges .p2 {
	max-width: 500px;
	line-height: 110%;
	font-size: 20px;
}

.section-knowledges .pilar {
	margin: 75px auto;
	text-align: left;
	font-family: 'Avenir Heavy';
}

.section-knowledges .pilar .reverse {
	order: -1;
}

.section-knowledges .pilar span {
	text-transform: uppercase;
	color: var(--primary-color);
	font-size: 18px;
}

.section-knowledges .pilar .title {
	margin-top: 15px;
	line-height: 110%;
	font-size: 28px;
}

.section-knowledges .pilar .content {
	margin-top: 25px;
	font-size: 20px;
}

.section-knowledges .pilar .img-responsive {
	margin: auto;
}

.section-knowledges .pilar-one .content {
	max-width: 443px;
	line-height: 130%;
}

.section-knowledges .pilar-one .img-responsive {
	width: 500px;
}

.section-knowledges .pilar-two .content {
	max-width: 524px;
	line-height: 130%;
}

.section-knowledges .pilar-two .img-responsive {
	width: 500px;
	margin-left: 0;
}

.section-knowledges .pilar-three .content {
	max-width: 464px;
	line-height: 130%;
}

.section-knowledges .pilar-three .img-responsive {
	width: 500px;
}

.section-knowledges .pilar-four .content {
	max-width: 553px;
	line-height: 130%;
}

.section-knowledges .pilar-four .img-responsive {
	width: 500px;	
	margin-left: 0;
}


/*----------------
 	Section Bonus
----------------*/

.section-bonus h1 {
	margin: 50px 0 48px 0;
	max-width: 760px;
	font-size: 42px;
}

.section-bonus h2 {
	margin-top: 10px;
	margin-bottom: 15px;
	max-width: 610px;
	font-size: 26px;
}

.section-bonus .img-responsive {
	content: url(../img/bonus-coders-house.gif);
	width: 1360px;
	margin: 60px 0 55px 0;
}

.section-bonus .img-responsive2 {
	content: url(../img/bonus-adcodes.png);
	width: 1360px;
	margin: 60px 0 55px 0;
}

/*----------------
 	Section Devices
----------------*/

.section-devices {
	padding: 110px 0 65px 0;
}

.section-devices h1 {
	max-width: 757px;
	font-size: 32px;
	margin: 40px 0 40px 0;
}

.section-devices .text {
	max-width: 461px;
}

.section-devices .text p {
	margin-bottom: 40px;
	line-height: 130%;
	font-size: 24px;
}

.section-devices .second-img {
	content: url(../img/josie-not-alone-min.png);
	display: inline-block;
	width: 1068px;
	height: 561px;
}

.section-devices .text-container  {
	position: absolute;
	top: 90px;
	left: 115px;
	width: 520px;
	text-align: left;
}

.section-devices .text-container h1 {
	max-width: 414px;
	line-height: 125%;
	font-size: 32px;
}

.section-devices .text-container hr {
	margin-top: 23px;
	border: 0.5px solid var(--black);
	width: 420px;
}

.section-devices .text-container img {
	position: relative;
	margin-left: 79%;
	top: -16px;
}

.section-devices .text-container p {
	max-width: 470px;
	line-height: 130%;
	font-size: 20px;
}

.section-devices .text-container p:last-child {
	margin-top: 30px;
	max-width: 490px;
}

/*----------------
 	Section Price
----------------*/

.section-price {
	color: white;
	font-family: 'Avenir Medium';
}

.section-price > div {
	width: 100%;
}

.section-price .brown-access {
	height: 1250px;
	background: linear-gradient(to top, #f8f8f8 0%, #f8f8f8 30%, var(--primary-color) 30%, var(--primary-color) 100%);
}

.section-price .brown-access > img {
	margin: -1px auto;
}

.section-price .brown-access .access-content {
	margin: 60px auto 0 auto;
	width: 642px;
	text-align: left;
}

.section-price .brown-access .access-content > p {
	font-size: 32px;
	margin-bottom: 35px;
}

.section-price .check-container {
	margin-bottom: 25px;
	border-bottom: 0.5px solid white;
}

.section-price .check-container:last-child {
	border-bottom: none;
}

.section-price .check-container img {
	float: left;
	margin: 1px 17px 0 0;
}

.section-price .check-container p {
	margin-bottom: 25px;
	padding-left: 33px;
	font-size: 18px;
}

.section-price .price-box {
	margin: 50px auto 0px auto;
	border: 0.50px solid var(--black);
	border-radius: 10px;
	background-color: white;
	width: 597px;
	height: 446px;
	color: var(--black);
}

.section-price .price-box button {
	margin-top: 30px;
	padding: 28px 32px;
	font-size: 18px;
}

.section-price .price-container > p {
	display: block;
	height: 175px;
}

.section-price .price-container .times {
	font-size: 46px;
}

.section-price .price-container .price {
	margin-left: 10px;
	font-size: 133px;
}

.section-price .price-info {
	margin: 0 auto;
	max-width: 386px;
}

.section-price .price-info p:first-child {
	font-size: 28px;
}

.section-price .price-info p:nth-child(2) {
	margin-top: 20px;
	font-size: 16px;
}

.section-price .price-info p:last-child {
	font-size: 20px;
}

.section-price .price-info hr {
	margin: 28px auto;
	border: 0.5px solid var(--black);
	width: 40px;
}

/*----------------
 	Section History
----------------*/

.section-history {
	padding: 50px 190px 0 190px;
	text-align: left;
}

.section-history .middle-lg {
	margin: 80px 0 50px 0;
}

.section-history .img-history {
	margin-top: 10px;
}

.section-history .img-casal-legendario {
	padding-right: 15px;
}

.section-history .text-container {
	padding-left: 45px;
}

.section-history .text-container h1 {
	margin-bottom: 20px;
	font-size: 38px;
}

.section-history .text-container p {
	margin-bottom: 20px;
	line-height: 130%;
	font-size: 18px;
}

.section-history .check-container {
	margin-bottom: 25px;
}

.section-history .check-container img {
	float: left;
	margin: 4px 15px 0 0;
}

.section-history .check-container p {
	padding-left: 33px;
	font-size: 16px;
}

.section-history > p {
	max-width: 600px;
	text-align: center;
	font-size: 18px;
}

.section-history > hr {
	border: 0.5px solid var(--black);
	width: 55px;
	margin: 30px 0 65px 0;
}

/*----------------
 	Accordion
----------------*/

.sec-faq {
	padding: 0 188px 150px 188px;
}

@media screen and (max-width: 780px) {
  .sec-faq {
		padding: 0 60px 150px 60px;
	}
}

.accordion {
	width: 100%;
	color: var(--black);
	font-family: 'Avenir Medium';
}

.accordion h1 {
	margin: 80px 0;
	text-transform: uppercase;
	font-size: 38px;
}

.accordion hr {
  margin-left: 0;
  border: 0.5px solid var(--black);
  width: 100%;
}

.accordion .acc-container {
	position: relative;
	margin: 30px 0;
}

.accordion .acc-container .question {
	position: relative;
	margin-left: 3px;
	cursor: pointer;
	text-align: left;
	font-size: 20px;
}

.accordion .acc-container .question::before {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
	font-family: 'Avenir Light';
  font-size: 35px;
  content: '+';
}

.accordion .acc-container.is-active .question::before {
	right: 4px;
	font-family: 'Avenir Light';
  content: 'x';
}

.accordion .acc-container .answer {
	position: relative;
	padding: 30px 20% 0 3px;
  text-align: left;
	line-height: 130%;
  font-size: 16px;
}

@media screen and (max-width: 780px) {
	.accordion .acc-container .question {
		max-width: 630px;
	}

	.accordion .acc-container .question::before {
		right: -17px;
	}

	.accordion .acc-container.is-active .question::before {
		right: -13px;
	}
}

/*----------------
 	Footer
----------------*/

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--light-grey-bg-color);
	padding: 20px 0;
	color: var(--black);
  font-family: 'Avenir Medium';
}

/*-------------------------
 	Media Queries for iPad
-------------------------*/

@media screen and (min-width: 577px) and (max-width: 780px) {
	.section-two {
		padding: 0;
	}

  .section-three .middle-lg {
		padding: 0 15px;
  }

	.section-neuro-levels .img-responsive {
		width: 100%;
	}

	.section-six .img-responsive {
		width: 90%;
	}

	.section-devices .second-img {
		width: 100%;
		height: 100%;
	}

	.section-devices .text-container {
		top: 47px;
		left: 54px;
	}

	.section-devices .text-container img {
		margin-left: 73%;
	}
	
	.section-devices .text-container h1 {
		max-width: 365px;
		font-size: 24px;
	}

	.section-devices .text-container p {
		max-width: 400px;
		font-size: 16px;
	}

	.section-devices .text-container hr {
		margin-top: 16px;
		width: 400px;
	}

	.section-price .brown-access {
		height: 1220px;
	}

	.section-history {
    padding: 50px 20px 0 20px;
  }

  .section-history .img-history {
		margin: 10px auto;
    width: 50%;
  }

	.section-history .img-casal-legendario {
		margin: auto;
		width: 80%;
	}

	.section-history .text-container {
    padding-left: 0px !important;
  }

	.section-history .mobile-first-col {
		order: -1;
	}

	.section-history .middle-lg {
		margin: 40px 0 55px 0;
	}

	.section-knowledges .knowledge-dms {
		width: 95%
	}
}
